@model IEnumerable<MVIM.DAL.Cos>

@{
    ViewBag.Title = "Cos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Cos</h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produs.NumeProdus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantitate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produs.NumeProdus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantitate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "Delete", new {  idCos=item.IdCos  })
        </td>
    </tr>
}

</table>
<a href="~/Client/FinalizeazaComanda"><input type="button" value="Finalizeaza Comanda" /></a>
